*{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    
}

main{
    height: 100%;
}

body{
    background-color: #363C4F;
    height: 100vh;
}

a:link, a:visited{
    color: black;
    cursor: pointer;
}


li{
    list-style-type: none;
}

.hidden{
    display: none;
}

.textCenter{
    text-align: center;
}

aside {
    display: none;
}

