.title_welcome{
    font-weight: 700;
    font-size: 16px;
}

.title_welcome {
    align-self: center;
    padding: 10px 0 16px 0;
}

.socials {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: solid black 1.5px;
    border-radius: 2px;
    width: 145px;
    height: 32px;
}

.googleOption {
    font-size: 11px;
    height: fit-content;
    align-self: center;
    margin-left: 5px;
    align-items: center;
}

.credentials_message {
    position: absolute;
    top: 169px;
    background-color: #D9D9D9;
    padding: 5px;
    border-radius: 12px;
}

.formInput:first-of-type{
    margin-top: 27px;
}

.confirmButton{
    border: none;
    border-radius: 30px;
    width: 223px;
    height: 36px;
    background-color: #363C4F;
    color: white;
    align-self: center;
}

.logIn-option{
    font-size: 11px;
    font-weight: 400;
}

aside{
    display: none;
}

