.mobile_menu{
    position: absolute;
    width: 160px;
    background-color: white;
    z-index: 3;
    font-size: 11px;
    text-align: center;
}

.option_menu{
    padding: 8px 0;
    border: solid 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    
}

.option_menu:last-child{
    border-bottom: 0;
}

.option_menu > span{
    font-weight: bold;
}

.mobile_profile{
    position: absolute;
    width: 80px;
    background-color: white;
    left: 220px;
    top: 46px;
    padding: 0 20px 0px 20px;
    font-size: 11px;
    text-align: center;

}
