*{
    margin: 0;
    padding: 0;
    border: 0;
}

nav{
    display: grid;
    grid: 46px / 25% 55% 10% 10%;
    background-color: #ffff;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.45) ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    height: 45px;
    justify-content: space-around;
}

.burguer_menu{
    width: 25px;
    display: flex;
    align-self: center;
    position: relative;
    left: 25%;
}

.line{
    height: 2px;
    background-color: black;
}

.logo{
    place-self: center;
    filter: drop-shadow(0 2px 1.5px rgba(0, 0, 0, 0.25));
    
}

.user_profile, .notif_icon{ 
    display: flex;
    justify-content: center;
}

.user_profile, .notif_icon  > img{
    height: 25px;
    align-self: center;
}